<settings>
	<setting propertyKey="@Properties.appVersion" title="@Strings.AppVersionLabel">
		<settingConfig type="alphaNumeric" readonly="true" />
	</setting>
	<setting propertyKey="@Properties.hrProfile" title="@Strings.HRProfileLabel" prompt="@Strings.HRProfilePrompt">
		<settingConfig type="list" required="true">
			<listEntry value="0">@Strings.orangetheory</listEntry>
			<listEntry value="1">@Strings.user_profile</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.allowVibration" title="@Strings.AllowVibrationLabel">
		<settingConfig type="boolean" />
	</setting>
</settings>